/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

h2 {
	font-family: "Anton", sans-serif;
  }
  
  .static-navbar {
    width: 100%;
    display: flex;
  }

  @media (max-width: 800px){
      .static-navbar {
          width: 100%;
          flex-wrap: wrap;
      }

      * {
          width: 100%;
      }
  }

  .static-navbar nav {
    margin-top: 40px; 
    width: 610px;
    justify-content: space-between;
    display: flex;
  }

  @media (max-width: 800px){
    .static-navbar nav {
        width: 100%;
        padding: 0 30px;
      }
   }

  .static-navbar nav a {
    text-decoration: none;
    color: #b0b0b0; 
  }
  
  @media (max-width: 800px){
    nav div {
        width: 100%;
        display: flex;
        justify-content: center;

    }
}

  .static-navbar nav a:hover {
    text-decoration: underline;
    color: black; 
  }

  .static-navbar .logo {
    margin: 28px 0 0 91px; 
    width: 100%; 
  }

  @media (max-width: 800px){
      .static-navbar .logo {
          order: -1;
          display: block;
          margin: 30px auto 0;
          width: 30%;
      }
  }
  
  /* Tablet */
 




    /* phone */ 
  @media (max-width: 500px){
      .static-navbar {
          Justify-content: center;
          width: 100%;
      }

      .static-navbar nav {
          width: 100%;
          flex-direction: column;
          margin: 0;
          padding: 0;
      }

      .static-navbar nav a {
          width: 100%;
          display: block;
          text-align: center;
          padding: 20px 0;
          font-size: 20px;
          border-bottom: 1px solid gray;
      }

      .static-navbar nav a:first-child {
          border-top: 1px solid gray;
      }

      .static-navbar nav a:hover {
          background: gray;
      }

      .static-navbar .logo {
          margin-top: 20px 0;
      }
  }
  
  nav a {
	text-decoration: none;
	color: black;
	margin: 35px 31px 0 31px;
	font-size: 14px;
	display: inline-block;
  }

  

  
  nav a:hover {
	color: rgb(176, 177, 178);
  }
  
  nav a:first-child {
	margin-left: 0;
  }
  
  nav div {
	display: inline-block;
	position: absolute;
	right: 0;
  }
  
  img {
	margin-top: 25px;
  }
  
  .website-wrapper {
	width: 880px;
	margin: 80px auto 0 auto;
	z-index: 1;
  }

  @media (max-width: 800px){
      .website-wrapper {
        width: 100%;
        margin: 40px auto 0 auto;
        z-index: 1;
      }
  }

  @media (max-width: 500px){
      .section-one {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 10px;
      }

      .h2about {
          margin-top: 40px;
      }

      .middle-img {
          width: 100%;
      }

      .website-wrapper {
          width: 100%;
      }

      .section-two {
          display: flex;
          flex-direction: column;
          margin: 0 0 0 10px;
      }

      .Product {
          margin-top: 40px;
      }

      .Vision {
          margin-top: 40px;
      }
      
      address {
          margin: 0 0 0 20px;
      }
  }
  
  header {
	border-bottom: 1px solid black;
	position: relative;
	height: 490px;
  }

  @media (max-width: 800px){
      header {
          height: 450px;
      }
  }

  
  
  
  header div {
	display: inline-block;
	text-align: center;
	margin: 70px 0 0 85px;
  }

  @media (max-width: 800px){
    header div {
        width: 70%;
    }
  }
  
  header div h1 {
	font-size: 80px;
	margin-bottom: 30px;
  }
  
  header div h1 span {
	display: block;
  }
  
  header div a {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding: 4px 48px;
  }
  
  header img {
	display: inline-block;
	position: absolute;
	right: 0;
  }

  @media (max-width: 800px){
    .Codeimg {
        display: none;

    }
  }
  
  .section-one {
	margin-top: 39px;
  }
  
  .section-one div {
	width: 430px;
	height: 100px;
	display: inline-block;
  }
  
  .section-one div p {
	line-height: 1.16;
  }
  
  .section-one div:first-child {
	margin-right: 10px;
  }

  @media (max-width: 800px){
      .section-one {
          display: flex;
          
    }
  }
  
  .middle-img {
	margin-top: 38px;
  }

  @media (max-width: 800px){
      .middle-img {
          width: 100%;
      }
  }
  
  .section-two {
	border-bottom: 1px solid black;
	margin-top: 36px;
	padding-bottom: 47px;
  }
  
  .section-two div {
	display: inline-block;
	width: 280px;
	margin-right: 10px;
  }
  
  .section-two div p {
	line-height: 1.16;
  }

  @media (max-width: 800px){
      .section-two {
          display: flex;
      }
  }
  
  address {
	margin-top: 38px;
  }
  
  address div {
	line-height: 1.16;
  }
  
  address div span {
	display: inline-block;
	margin: 17px 0 18px 0;
  }
  
  footer {
	width: 100%;
	height: 183px;
	text-align: center;
  }
  
  footer p {
	margin-top: 54px;
	font-size: 14px;
  }


